* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

/*For all recipes*/

.recipe_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_item {
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.recipe_thumbnail_img {
    height: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}
/*For recipe details*/

.recipe_details {
    margin: 50px;
    text-align: center;
}

.ingredients_box {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
    width: fit-content;
}

/*For homepage*/

.title_section {
    padding: 20px;
}
