<!DOCTYPE html>
<html>
    <head>
        <title>All Recipes</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    </head>
    <body>
        <div class="recipe_details">
            <h1>{{object.name}}</h1>
            <img style="width: 400px;" src="{% static 'recipes/'%}{{object.image}}">
            <h2>Difficulty: {{object.calc_difficulty}}</h2>
            <h2>Cook time: {{object.cook_time}} minutes</h2>
            <h3>Ingredients:</h3>
            <div class="ingredients_box">
                {% for ingredient in object.ingredients_to_list %}
                    <p>{{ingredient}}</p>
                {% endfor %}
            </div>
            <h3>Description:</h3>
            <p>{{object.description}}</p>
            <button onclick="goBack()">
                Back
            </button>
        </div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </body>
</html>