<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
        <style type="text/css">

            .title_section {
                display: block;
                padding: 20px;
                border-width: 2px;
                border-color: black;
                border-style: solid;
                border-radius: 5px;
                margin: auto;
                padding: 40px;
                width: fit-content;
                text-align: center;
            }

            p {
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        <div class="title_section">
            <h1>Welcome</h1>
            <h2>
                <a href="all_recipes">All Recipes</a>
            </h2>
            <p>
                <a href="admin">Admin</a>
            </p>
        </div>
    </body>
</html>